.planetimage {
	height: 100px;
	width: 100px;
}

.descriptions {
	font-family: Arial, sans-serif;
	color: rgb(255, 235, 119);
	font-size: 25px;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(255, 235, 119);
}

h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(0, 132, 255);
}